.container{
    max-width: 165rem;
    margin: 8rem auto;
    background-color: var(--grey-light-2);
    box-shadow: 0 2rem 6rem var(--grey-dark-3);
    min-height: 50rem;
    overflow: hidden;
    

    @media only screen and (max-width: $bp_lg){
        margin: 0;

    }


}

.header{
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--grey-light-2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp_phone){
        flex-wrap: wrap;
        height: 13.9rem;
        align-content: space-around;
     }


}


.content{
    display: flex;

    @media only screen and (max-width: $bp_tab){
       flex-direction: column;

    }



}

.sidebar{
    background-color: var(--grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
   
    //grow, shrink, basis
}

.hotel-view{
    background-color: #fff;
    flex: 1;
   
    //take up remaining avail space

}


.detail{
    display: flex;
    padding: 4.5rem;
    background-color: var(--grey-light-1);
    border-bottom: 1px solid var(--grey-light-2);

    @media only screen and (max-width: $bp_tab){
       padding: 2rem;
       
 
     }

    @media only screen and (max-width: 55em){
        flex-direction: column;
    }
    
}


.description{
    font-size: 1.5rem;
    flex: 0 0 60%;
    padding: 4.9rem;
    background-color: white;
    margin-right: 4.5rem;
    box-shadow: 3px 12px 4px var(--grey-light-2);

    @media only screen and (max-width: $bp_tab){
       padding: 2.4rem;
       margin: 0;
 
     }

     @media only screen and (max-width: 55em){
        margin-bottom: 2rem;
    }
    
}

.user-reviews{
    flex: 1;
    font-size: 1.8rem;
    
    box-shadow: 3px 12px 4px var(--grey-light-2);
    
}

